.popup-content {
    position: fixed;
    top: 30%;
    left: calc(50% - 300px);
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
}

.footer-content {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 2;
    background-color: #fff;
    display: flex;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    box-shadow: 0px 4px 20px 14px #d4d4d4;
}

.footer-content > div {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.close-btn {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    font-size: 2rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.close-btn svg {
    width: 70%;
    height: 70%;
    fill: darkgrey;
}

.popup-content h2 {
    font-size: 24px;
    color: #333;
}

.popup-content p {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
    line-height: 1.5;
}

.cta-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 25px;
    background-color: #ff5722;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer-content .cta-btn {
    margin: 0;
}

.cta-btn:hover {
    background-color: #e64a19;
}