nav.navbar {
  display: flex;
  width: 100%;
  position: sticky;
  top: 0;
  padding: 20px;
  justify-content: space-between;
  background-color: var(--secondary);
  box-shadow: 0px 4px 20px 14px var(--bgSecondary);
  align-items: center;
  z-index: 100;
}

div.navTitle {
  font-size: 2rem;
  font-weight: 700;
  color: var(--bgSecondary);
}

div.navTitle sup {
  color: var(--bgSecondary);
}

div.navCTAWrapper {
  display: flex;
  gap: 20px;
}

div.navCTAWrapper button {
  background-color: var(--primary);
  color: #fff;
  padding: 10px 20px;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

div.navCTAWrapper button:hover {
  background-color: white;
  color: var(--primary);
}
